@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #F5F5F5;
  color: #34495E;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.texto {
  font-size: 14px;
  line-height: 150%;
}

/*-----------------------Header---------------------*/
.cabeza{
	border: none;
	background-color: #34495e;
	color: #fff;
	height: 80px;
}

.cabeza .container{
	padding: 5px 5px;
}

.cabeza .navbar-toggle .icon-bar{
	background-color: #fff;
}

.menu{
	color: #bdc3c7;
	margin-top: 10px; 
}

.menu:hover{
	color: #fff;
	background-color: transparent !important;
}
.nav li .active, .nav li .active:hover {
  background: #2c3e50 !important;
  color: #fff;
	border-radius: 5px;
}
.cabeza .navbar-collapse{
	border-top:0;
}

.logo{
	margin-top: 10px;
}

.barramenu{
	margin: 10px 0;
}

.collapse{
	height: 0px;
}
/*---------------------------Encabezado-----------------------*/
.verde{
	background: #2ecc71;
	margin-top: 80px;
	padding: 30px 0 50px 0;
	color: #fff;
	font-family: "Roboto", sans-serif;
}
.verde h1 {
  margin-bottom: 0;
}
.campo{
	margin: 30px 0 0 0;
}

.espacio{
	background: transparent;
}
.home{
	color: #fff;
}
.home:hover, .home:focus {
  	color: #fff;
  	text-decoration: none;
}
.pagina-actual{
	color: #A4E9C1;
}
/*---------------------------Home-------------------------*/
/*-------------------------About-Us----------------------*/

.progress, .progress .bar{
  background-color: #fff;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
}

.fila1{
  padding-top: 50px;
}

.fila2{
  text-align: center;
  padding: 50px 0 40px 0;
}

.fila3{
  padding-bottom:0px;
}

.img-thumbnail{
  border:none;
}

.centro{
  text-align: center;
}

.btn-social.btn-facebook {
    background: #4f7dd4;
}

.btn-social.btn-google{
  background-color: #dc422b;
}

.btn-social.btn-twitter{
  background-color: #5bceff;
}

.btn-social.btn-linkedin{
  background-color: #21a6d8;
}


.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}

/*--------------------------Services--------------------*/
 #what-we-do, #clients-say {
   padding: 30px 0
 }
#what-we-do i {
  width: 70px;
  height: 70px;
  background-color: #939393;
  color: #FFF;
  font-size: 35px;
  text-align: center;
  line-height: 70px;
  border-radius: 100%;
  margin: 20px 30px 0 0;
  display: block;
}
#what-we-do i:hover {
  background-color: gray;
}
#what-we-do .row {
  margin-top: 25px;
}
.servicios {
  display: block;
  overflow: hidden;
}
.testimonial {
  padding: 20px;
}

/*--------------------------Portfolio-----------------------*/

/*-------------------------Blog--------------------------*/

.widget{
  margin-bottom: 30px;
}

a{
  color: #34495e;
}

ul.arrow{
  list-style: none;
  padding: 0;
  margin:0;
}

ul.tag-cloud{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-cloud li {
  display: inline-block;
  margin-bottom: 2px;
}

.azul a{
  color: #34495E !important;
}


/*----------------------------------------------------*/
/*------------------------Contact----------------------*/

/*------------------------Seccion final-----------------------*/
#seccion-final {
  background-color:#34495E; 
  color: #BDC3C7;
  font-size: 14px;
  padding: 40px 0;
}
#seccion-final h4 {
  color: #FFF;
}
#seccion-final .texto {
  color: #BDC3C7;
}
ul.flecha {
  list-style: none;
  padding: 0;
  margin: 0;
}
u.flecha li {
  font-size: 14px;
  color: #BDC3C7;
  text-decoration: none;
}
.flecha a,.resumen-post a {
  color:  #BDC3C7;
  font-size: 14px;
  text-transform: capitalize;
}
ul.flecha li::before, ul.flecha li::after {
  font-family: FontAwesome;
  font-size: 12px;
}
ul.flecha li::before {
  content: "\f105";
  margin-right: 5px;
}
ul.flecha a:hover, ul.flecha a:focus {
  text-decoration: none;
  color: #FFF;
}
.latest-post {
  margin: 5px 0;
  padding: 5px;
}
.latest-post:hover {
  background-color: rgba(231, 76, 60, 0.6);
}
.latest-post:hover .resumen-post a {
  color: #FFF;
  text-decoration: none;
} 
.foto-latest-post {
  float: left;
  margin-right: 15px;
}
.fecha {
  color: #BDC3C7;
  font-size: 11px;
  margin: 10px 0 0;
  

}
.address p{
  margin-bottom: 0;
  text-transform: capitalize;
}
.address>:nth-child(2) {
  font-weight: 700;
}
.newsletter {
  margin-top: 20px;
}
.subscribe-form {
  margin: 10px 0;
}
.subscribe-input, .subscribe-submit {
  padding: 7px 10px;
  outline: none;
}
.subscribe-input {
  border-radius: 5px 0 0 5px;
  border: 1px solid #BDC3C7;
}
.subscribe-submit {
  border-radius: 0 5px 5px 0;
  border: 1px solid #C1413F;
  position: absolute;
}



/*-------------------------Footer---------------------------*/
footer {
  background-color: #2C3E50;
  color: #BDC3C7;
  padding: 30px;
}
.nav-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-footer li {
  text-transform: capitalize;
  display: inline-block;
  margin: 10px;

}
.nav-footer a {
  color: #BDC3C7;
  text-decoration: none;
}
.nav-footer a:hover, .nav-footer a:focus {
  color: #FFF;
}
#ir-arriba:hover >i {
  color: #FFF;
}





















